:root {
  --slate: #434455;
  --navy-blue: #2E2F42;
  --ocean: #404BBF;
  --iris: #4D5AE5;
  --white: #FFFFFF;
  --cloud: #F4F4FD;
  --cornflower: #E7E9FC;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--regular);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white);
  color: var(--slate);
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: var(--bold);
  color: var(--navy-blue);
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  font-weight: var(--medium);
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
}

.logo {
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: var(--bold);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-dark {
  color: var(--navy-blue);
}

.logo-dark:hover,
.logo-dark:focus {
  color: var(--ocean);
}

.logo-light {
  color: var(--cloud);
}

.nav-menu-link {
  color: var(--navy-blue);
  font-weight: 500;
}

.address {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.nav-menu-link:hover, 
.nav-menu-link:focus {
  color: var(--ocean);
}

.hero {
  background-color: var(--navy-blue);
}

.hero-title {
  color: var(--white);
  text-align: center;
}

.hero .btn {
  margin-top: 48px;
  background-color: var(--iris);
  color: var(--white);
  font-weight: var(--medium);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--ocean);
}

.features-title {
  display: none;
}

.team {
  background-color: var(--cloud);
}

.team-title {
  text-align: center;
  text-transform: capitalize;
}

.team-item {
  background-color: var(--white);
}

.portfolio-title {
  text-align: center;
  text-transform: capitalize;
}

.card-container {
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
}

.footer {
  background-color: var(--navy-blue);
}

.footer .footer-text {
  color: var(--cloud);
}